<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${title != null ? title : '飲食店削除確認'}">飲食店削除確認</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-5">
	<h1 class="display-4 mb-4" th:text="${title != null ? title : '飲食店削除確認'}">飲食店削除確認</h1>
	<p class="lead mb-4" th:text="${msg != null ? msg : 'このレコードを本当に削除しますか？'}"></p>

	<form method="post" th:action="@{/admin/restaurant/delete/{id}(id=${formModel.id})}">
		
		<ul class="list-unstyled fs-5 mb-4">
			<li>店舗ID： <span class="fw-bold" th:text="${formModel.id}"></span></li>
			<li>店舗名： <span class="fw-bold" th:text="${formModel.restaurantName}"></span></li>
			<li>住所： <span class="fw-bold" th:text="${formModel.storingPlace}"></span></li>
		</ul>
		
		<div class="d-flex align-items-center">
			<input type="submit" class="btn btn-danger me-3" value="削除" />
			<a class="btn btn-secondary" th:href="@{/restaurant}">キャンセル</a>
		</div>
		
	</form>
</body>

</html>